@import './_variables.scss';


body {
    display: flex;
    flex-direction: column;
    width: 100vw;



    nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        font-family: $font2;
        background-color: $black;
        color: $white;
    }

    h2 {
        padding: 1rem 2rem;
        color: $white;
        font-weight: 200;
    }

    header section {
        background-image: url('https://placehold.co/50x500');
        color: $dark;
    }


    footer {
        background-color: $black;
    }

}